.nav{
    background-color: rgb(234, 245, 250);
    padding: 10px;
}
.style{
    margin-left: 90%;
  }
  .color{
    background-color: rgb(48, 124, 160);
    color:whitesmoke;
  }
  .s{
    margin-left: 80%;
    margin-bottom: 25px;

  }
  
